/* Theme CSS */

/* css/theme.css */

/* 시간대별 배경 이미지 설정 */
body.morning {
   background-image: url('../assets/images/clear-bg/Morning.jpg');
   transition: background-image 0.5s ease-in-out; /* 배경이 부드럽게 바뀌도록 */
}
body.afternoon {
   background-image: url('../assets/images/clear-bg/Afternoon.jpg');
   transition: background-image 0.5s ease-in-out;
}
body.evening {
   background-image: url('../assets/images/clear-bg/Evening.jpg');
   transition: background-image 0.5s ease-in-out;
}
body.night {
   background-image: url('../assets/images/clear-bg/Night.jpg');
   transition: background-image 0.5s ease-in-out;
}
