* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #f1e6dd;
   position: relative;
}

ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

button {
   cursor: pointer;
}

/* --- Global Element Styles --- */
img {
   display: block;
   width: 100%;
}

/* --- Base Typography --- */
h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
   font-weight: 400;
}

p {
   font-size: 1.4rem;
   line-height: 1.5;
   letter-spacing: 1px;
   font-weight: 400;
}
