/* reset.css */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #f1e6dd;
}

body {
   font-size: 62.5%;
   font-family: 'Pretendard';
   font-weight: 400; /* Regular */
   font-style: normal;
   background-color: #f1e6dd;
   src: url('./woff/Pretendard-Regular.woff') format('woff');
}

ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

button {
   cursor: pointer;
}
