* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
li,
ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   font-size: 1.6rem;
}

section {
   width: 100%;

   border: 1px solid #000;
   background-color: #ededed;
}

.wrapper {
   width: 100vw;
   min-height: 100vh;

   display: grid;

   /* ✅ 3칸 쓸 거면 columns 정의 필요 */
   grid-template-columns: 1fr;

   grid-template-areas:
      'header header header'
      'hero   hero   hero'
      'season season season'
      'spring spring spring'
      'summer summer summer'
      'autumn autumn autumn'
      'winter winter winter'
      'footer footer footer';
}

/* ✅ grid-area 매핑 */
.site__header {
   grid-area: header;
}

.hero__section {
   grid-area: hero;
   width: 100%;
   height: 100vh;
}

.season {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 600px;
}

.bg {
   border: 1px solid #000;
}

.season__spring {
   grid-area: spring;
   min-height: 100vh;
}

.season__summer {
   grid-area: summer;
}

.season__autumn {
   grid-area: autumn;
}

.season__winter {
   grid-area: winter;
}

.site__footer {
   grid-area: footer;
}
