* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   overflow-x: hidden;
   font-size: 62.5%;
}

ul,
li,
ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}
